html{height: 100%;}

/* html {
  min-width: 800px;
} */

body
{ font-family: "lucida sans", arial, sans-serif;
  
  font-size: .78em;
  background: #090708;
  position: absolute;
  background-color: black;
  margin-left: 100px;
  margin-right: 100px;
  
  color: #5D5D5D;}

#background{
  background-image: url(bg.jpg);  
  background-size: 100% 100%;
  margin-left: 90px;
  background-repeat: no-repeat;
}

p
{ margin: 0px;
  padding: 0px 0px 3px 0px;
  line-height: 1.7em;}

h1, h2, h3, h4, h5, h6 
{ font: normal 179% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 170% 'century gothic', arial, sans-serif;
  }

h3
{ font: normal 125% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  ;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;}

h6
{ color: #362C20;}

#course{
  margin-left: 10px;
}

a, a:hover
{ border-bottom: 1px dotted;
  color: #635B53;
  text-decoration: none;}

a:hover
{ border-bottom: 1px solid;
  color: #00C5EE;}

img
{ border: 0px; 
  margin: 0px; 
  padding: 0px;}

a
{ outline: none;}



ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}

#main, #logo, #menubar, #site_content, #footer
{ 
  margin-left: auto; 
  margin-right: auto;
  
}

#main
{ 
  padding-bottom: 40px;
 
  position: absolute;

  
} 
img {
  pointer-events: none;
}

.img_circle{
  height: 120px;
  width: 130px;
  margin-top: 60px;
  margin-left: -105px;
  border-radius: 100px;
  position: relative;
 
}
/* #header
{ 
 background-image: url("bg.jpg");
 
} */

#icons
{
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 20px; */

  margin-top: -80px;
  position: relative;


}

#logo
{
 
   width: 800px;
  position: relative;
  height: 200px;}

#logo #logo_text 
{ position: absolute; 
  top: 27px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  text-decoration: none;
  border: 0;}

#logo_text h1 a .logo_colour
{ color: #444;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #fff;}

#menubar
{ width: 870px;
  height: 46px;
  padding-top: 4px;
  padding-left: 4px;} 

ul#menu
{ float: right;
  margin: 0px;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 0px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: sans-serif;
  font-size: 120%;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 15px 5px 15px;
  text-align: center;
  color: #FFF;
  border: none;} 

ul#menu li.selected a
{ height: 20px;
  padding: 7px 15px 4px 15px;}

ul#menu li.selected
{ margin: 7px 0 0 0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #00C6EF;}

ul#menu li a:hover
{ color: #00C6EF;}

#site_content
{ width: 800px;
  /* height: 1200 px; */
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 50px 50px 50px;
  background: #F6F6F0 url(back.png) repeat-y;
  background: #F6F6F0 ;
  border: 50px solid #FFF;
  font-size: 15px;
 } 
 .achieve
 { width: 800px;
   /* height: 1200 px; */
   overflow: hidden;
   margin: 0 auto 0 auto;
   padding: 50px 50px 50px 50px;
   background: #F6F6F0 url(back.png) repeat-y;
   background: #F6F6F0 ;
   margin-top: -50px;
   border: 50px solid #FFF;
   font-size: 15px;
  } 

  
#footer
{ 
  width: 800px;
  margin-top: 120px;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 90%;
  height: 28px;
  padding: 0px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #EEF3CD;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer p
{ padding: 0;}

#footer a, #footer a:hover
{ color: #EEF3CD;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}



/* .separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
   */
